// $mainColor: #fcdf53;
$mainColor: #AED581;
$textColor: #454545;
$backColor: #fafafa;
$borderColor : #ececec;

$background-images: url("../images/shape/background-3-green.png");
$background-images-2: url("../images/shape/background-2-green.png");
$footer-background : url("../images/shape/footer-back-green.png")